* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .app {
    height: 100vh;
    width: 100vw;
  
    display: flex;
    overflow: hidden;
  }
  
  .side-navigation {
    padding: 20px;
    flex-basis: 200px;
  
    border-right: 2px solid gray;
  }
  
  .side-navigation-link-container {
    margin-top: 16px;
  }

  .main-content {
    height: 100%;
    flex-grow: 1;
  }
  
  .user-list {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .user-list-header {
    padding: 20px;
  }

  .user-list-filter {
    display: flex;
  }
  
  .user-list-filter-button {
    margin-left: 16px;
    flex-shrink: 0;
  }
  
  .user-delete-button-wrapper {
    padding: 0 20px;
    display: flex;
  }
  
  .user-delete-button {
    margin-left: auto;
  }

  .user-list-grid-header {
    margin-top: 20px;
    margin-left: 16px;
    display: grid;
    grid-template-columns: 32px 30% 1fr;
    border-left: 1px solid #6c757d;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: #6c757d;
    color: white;
  }
  
  .user-list-grid {
    position: relative;
    margin-left: 16px;
    height: 0;
    flex-grow: 1;
    border-left: 1px solid #6c757d;
    overflow: auto;
  }

  .user-list-grid-item-container{
    display: grid;
    grid-template-columns: 32px 30% 1fr;
  }
  
  .user-list-grid-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .user-list-grid-loading-message {
    margin-top: 32px;
    margin-left: 16px;
    display: inline-block;
    font-size: 1.5rem;
  }
  
  .user-list-grid-loading-dot {
    margin-left: 8px;
    width: 0.8rem;
    height: 0.8rem;
    animation-duration: 1.6s;
    animation-timing-function: ease;
  }
  
  .user-list-grid-loading-dot:nth-child(2) {
    animation-delay: 0s;
  }
  
  .user-list-grid-loading-dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .user-list-grid-loading-dot:nth-child(4) {
    animation-delay: 0.8s;
  }
  
  .user-list-grid-item {
    padding: 10px;
    border-bottom: 1px solid #6c757d;
  }
  
  .user-list-grid-item:nth-child(6n),
  .user-list-grid-item:nth-child(6n-1),
  .user-list-grid-item:nth-child(6n-2) {
    background-color: #ecedee;
  }

  .add-user {
    padding: 16px;
  }
  
  .add-user-error {
    margin-top: 8px;
    color: red;
  }